body	
{
	margin:0px; 
	margin-top: -40px;
}
header	
{
	background-color: black;
	color: white;
	font-family:'Satisfy', cursive;
	text-align: center;
	height: 100px;
	font-size: 30px;
}
nav
{
	background: linear-gradient(45deg, pink,yellow,brown);
	padding: 20px;
	margin-top: -24px; 
}
nav a
{
	text-decoration: none;
	margin: 90px;
	color: black;
	font-size: 20px ;
}
div
{
	background: linear-gradient(45deg,black,pink,maroon);
	height: 400px; 
}
h2
{
	text-align: center;
	font-size: 50px;

}
div img
{
	margin-left: 100px; 
	margin-top: 30px;
}
#a
{
	background: linear-gradient(45deg,skyblue,pink,red);
	width: 500px;
	height: 250px; 
	margin-left: 500px;
}
marquee
{
	font-size: 30px;
}
iframe
{
	margin-left: 1000px;
	margin-top: -200px;
}
table td
{
	height: 20px;
	width: 60px;
}
footer
{
	background: linear-gradient(45deg,blue,green);
	color: white;
	text-align: center;
	text-align: auto;
}
@media(min-width: 0px) and (max-width: 800px)
{
	nav
	{
		flex-direction: column;
	}
	#main-navbar a
	{
		margin-top: 10px;
	}
}










